// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '~bootstrap';

body{
    background: linear-gradient(to bottom right, #32a3be, #22b591);
}
html{
    height: 100%;
    width: 100%;
}
